<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>adis_r_diag1</th>
      <td>47.0</td>
      <td>6.468085</td>
      <td>4.534175</td>
      <td>1.0</td>
      <td>2.0</td>
      <td>7.0</td>
      <td>12.0</td>
      <td>14.0</td>
    </tr>
  </tbody>
</table>