<thead>
  <tr class="header">
    <th align="left">name</th>
    <th align="left">label</th>
    <th align="left">data_type</th>
    <th align="left">value_labels</th>
    <th align="left">missing</th>
    <th align="left">complete</th>
    <th align="left">n</th>
    <th align="left">mean</th>
    <th align="left">sd</th>
    <th align="left">p0</th>
    <th align="left">p25</th>
    <th align="left">p50</th>
    <th align="left">p75</th>
    <th align="left">p100</th>
  </tr>
</thead>
<tbody>
  <tr class="odd">
    <td align="left">{{ variable_name }}</td>
    <td align="left">{{ desc }}</td>
    <td align="left">{{ numeric}}</td>
    <td align="left">{{ labels }}</td>
    <td align="left">{{ missing }}</td>
    <td align="left">{{ complete }}</td>
    <td align="left">{{ total }}</td>
    <td align="left">{{ mean }}</td>
    <td align="left">{{ std }}</td>
    <td align="left">{{ minimum }}</td>
    <td align="left">{{ p25 }}</td>
    <td align="left">{{ p50 }}</td>
    <td align="left">{{ p75 }}</td>
    <td align="left">{{ maximum }}</td>
  </tr>
</tbody>
